html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

div {

}

  /* General Styles */

.banner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  }

.banner.left {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

.container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.banner.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.banner.right {
  width: 407px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-left: 1rem;
  padding: 1rem 0;
}


h1 {
  font-weight: bold;
  font-size: 3rem;
}

h2 {
  font-weight: bold;
  font-size: 2.5rem;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.chapter-header {
  text-align: center;
  padding-top: 2rem;
}


  /* Header section */

.header {
  background-color: white;
  display: flex;
  text-align: center;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
}

.header .logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  flex-grow: 1;
}

.header .logo img {
  height: 3rem;
}

.header .logo span {
  display: inline-flex;
}

.header .logo #colmar {
  font-weight: bold;
}

.header .nav {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
}

.header .nav p {
  padding: 0 0.5rem;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 640px) {
  .desktop {
    display: none;
  }

  .header.mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}


  /* Start section */

.start {
  background-color: lightgrey;
}

.banner.start {
  align-items: center;
}

.right.start h1, h3 {
    padding: 1rem 0;
}

.start.button {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  padding: 0.5rem 0;
  margin: 1rem 0;
}


/* Information section */


.banner.left.info h2 {
  margin: 2rem 0;
}

.banner.left.info p {
  margin-bottom: 1.5rem;
}

.banner.box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.box.image {
  width: 35%;
  height: 133px;
  overflow: hidden;
}

.box.image.mobile {
  display: none;
}

.box.image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.box.text{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.box.text h3 {
  margin: 0;
}

.box.text p {
  padding-top: 0.5rem;
}


/* Courses section */

.course {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.courses.pattern {
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
  width: 100%;
}

.courses.row {
  display: flex;
  justify-content: center;
  width: 100%;
  vertical-align: baseline;

}

#top-row {
  margin-bottom: 2rem;
}

.pattern.box {
  display: inline-block;
  width: 27%;
  background-color: white;

}

.pattern.box.middle {
  margin: 0 2rem;
}

.pattern.bottom {

  margin-left: 1rem;
  margin-bottom: 1.5rem;

}


.pattern.bottom h5 {
  margin-bottom: 1rem;
}




/* Thesis section */

.banner.video {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.video video {
  width: 100%;
  height: auto;
}

.banner.left.thesis h3 {
  margin-top: 1.5rem;
}


/* Footer section */

footer {
  display: flex;
  align-items: flex-start;
  border-top: 1px darkgrey solid;
  justify-content: space-between;
  font-size: 0.75rem;
  height: 4.25rem;
}

footer p,
.terms {
  margin: 1rem 1.5rem;
}

footer a {
  padding: 0.5rem;
  color: black;
  text-decoration: none;
}
